.vscode/
.DS_Store
__pycache__/
**/__pycache__/
*.pyc
.env
.env*.local
venv/
.venv/
**/venv/
**/.venv/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
outputs/*
checkpoints/*.pt
checkpoints/*.pth
checkpoints/*.onnx
checkpoints/*.safetensors
checkpoints/*.bin
checkpoints/*.ckpt
!checkpoints/download_ckpts.sh
demo/backend/checkpoints/*.pt
